.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-accent);
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-accent);
}

.btn:focus {
  outline: 3px solid var(--color-secondary);
}

.btn-ghost {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-accent-blue);
}

.btn-light:hover {
  background-color: var(--color-accent-blue);
  border-color: var(--color-accent);
  color: var(--color-accent);
}
