---
layout: default
---
{% pattern banners/main-banner button_text="See My Work" button_url="/products/" %}
<body>
{% pattern banners/project-banner title="Medowlark Totorals" description="Since 1992 Meadowlark Tutorials has been performing one on one support in the home for students at various levels specializing in students with learning disabilities. In addition, Meadowlark has been an advocate, speaker, academic coach, and mentor. For many years Meadowlark Tutorials has used a bird to represent their brand. The new logo continues to follow the bird theme in the new logo design. The logo ties in Meadowlark Tutorials pride in personal attention, in-home service, advocacy, and mentorship. Simple shapes and rounder body proportions showcase trust and a warm and friendly approach to education."
 image="art.png" %}
{% pattern sections2/text-banner %}
{% pattern cards/typeface-card %}
{% pattern cards/mockup-right %}
