.bg-brown {
  background-color: var(--color-primary);
}

.h2-white {
  color: var(--color-accent);
}

.card-img-2 {
  max-width: 500px;
  margin: 0 auto;
}

.bg-banner {
  background-image: url(../images/placeholder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-white {
  color: var(--color-accent);
}
